/* ${Horace_AUTO_GENERATED_FILE_WARNING} */
#pragma once

namespace Horace {
    constexpr char VERSION[] = "${Horace_SHORT_VERSION}";
    constexpr char VER_NOOMP[] = "${Horace_SHORT_VERSION} no-omp";
}
