function [ok,err_mess,je]=worker_v2(worker_controls_string)
% function used as standard worker to do a job in a separate Matlab
% session.
%
% To work, should be present on a data search path, before Herbert is
% initialized as may need to initialize Herbert and Horace itself
%
%Inputs:
% worker_controls_string - the structure, containing information, necessary to
%              initiate the job.
%              Due to the fact this string is transferred
%              through pipes its size is system dependent and limited, so
%              contains only minimal initialization information, namely the
%              folder name where the job initialization data are located on
%              a remote system.
%
% $Revision:: 840 ($Date:: 2020-02-10 16:05:56 +0000 (Mon, 10 Feb 2020) $)
%
err_mess = [];
exit_at_the_end = true;
if isempty(which('herbert_init.m'))
    herbert_on();
    try
        horace_on();
    catch 
    end
end
[ok, err_mess,je] = parallel_worker(worker_controls_string);
