function [ok,err_mess,je]=worker_4tests(worker_controls_string)
% function used as standard worker to do a job in a separate Matlab
% session.
%
% To work, should be present on a data search path, before Herbert is
% initialized as may need to initialize Herbert and Horace itself
%
%Inputs:
% worker_controls_string - the structure, containing information, necessary to
%              initiate the job.
%              Due to the fact this string is transferred
%              through pipes its size is system dependent and limited, so
%              contains only minimal initialization information, namely the
%              folder name where the job initialization data are located on
%              a remote system.

if isempty(which('herbert_init.m'))
    herbert_on();
    % Set up non-default herbert or Horace path to test them
    % herbert_on('/home/isis_direct_soft/Herbert_bugfix/herbert_core');
    % horace_on('/home/isis_direct_soft/Horace_bugfix/horace_core');
end
DO_LOGGING = false; % if true, write extensive log information.
DO_DEBUGGING = false; % if true, do not exit worker on completion (enter pause).
% Used for filebased framework debugging on windows, when one can get access to the terminal of running worker.
[ok,err_mess,je] = parallel_worker(worker_controls_string,DO_LOGGING,DO_DEBUGGING);
