function worker(class_name,job_controls_string)
% function used as standard worker to do a job in different matlab
% session
%
% To work, should be present on a data searh path, before Herbert is
% initialized as may need to initialize Herbert and Horace itself
%
%Inputs:
% class_name -- the name of the class, which do the job. The class
%               should inherit from JobExecutor and overload
%               do_job method
%
% job_controls_string - the structure, containining information, necessary to
%              initiate job
%
%
if isempty(which('herbert_init.m'))
    horace_on();
end

jd = feval(class_name);

[jd,job_arguments,err_mess]=jd.init_worker(job_controls_string);

if ~isempty(err_mess)
    mess = aMessage('failed');
    mess.payload = sprintf('job N%d failed at init_worker. Reason: %s',...
        jd.job_id,err_mess);
    jd.send_message(mess);
    exit;
end
%
%
try
    jd = jd.do_job(job_arguments);
catch ME
    mess = aMessage('failed');
    mess.payload = sprintf('job N%d failed at do_job method. Reason: %s',...
        jd.job_id,ME.message);
    jd.send_message(mess);
    exit;
end
%
jd.finish_job();

end